@page "/EmailVerification"
@model Bank_Presentation_Layer_Web_App.Pages.Start.EmailVerificationModel

<section class="main-container">

            <div class="img-container">
                <img src="/pic/bank.png" alt="">
            </div>
        
            <section class="container" id="sign-up">
                <div>
                    <h3>Email Verification</h3>
                    <p>A message that contain a Code PIN have been sent to your email adress</p>
                </div>
                
            
                <div class="label-input container">
                    <label>Code PIN</label>
                    <input type="password" size="6" placeholder="XXXXXX">
                </div>

                <form>
                    <button class="fill-container" asp-page="AddPhone">Continue</button>
                </form>

                <div class="container fill-container hint">
                    <p class="caption">You didn't recieve any code?</p>
                    <a>Resend</a>
                </div>

            </section>

</section>