<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bank_Presentation_Layer_Web_App</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    
</head>
<body>

    <section class="main">

    <header>
        <nav class="navbar">

            <div class="container" id="company">
                <div class="icon" id="logo-icon">
                    <img src="pic/LOGO.png">
                </div>
                <div class="icon-name" id="logo-name">
                    HOUDHIFA'S BANK
                </div>
            </div>

            <button class="button2">Log In</button>
           
        </nav>
    </header>

    <div class="container">
        <main class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            this is footer
        </div>
    </footer>
    </section>
 
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>