@page "/History"
@model Bank_Presentation_Layer_Web_App.Pages.Client.HistoriqueModel
@{

}
<div class="main-container">

   
        <div class="container history-container">
        
            <div class="container hist-container">
                <div class="icon"><img src="ICONS/profile-icn.png" alt=""></div>
                <p>Client Name</p>
                <p>id</p>
                <p>Transaction</p>
                <p>Date</p>
            </div>

            <div class="container hist-container">
                <div class="icon"><img src="ICONS/profile-icn.png" alt=""></div>
                <p>Moha Riad</p>
                <p>1234</p>
                <p>+250$</p>
                <p>15 sep 2023</p>
            </div>
            <div class="container hist-container">
                <div class="icon"><img src="ICONS/profile-icn.png" alt=""></div>
                <p>Moha Riad</p>
                <p>1234</p>
                <p>+250$</p>
                <p>15 sep 2023</p>
            </div>
            <div class="container hist-container">
                <div class="icon"><img src="ICONS/profile-icn.png" alt=""></div>
                <p>Moha Riad</p>
                <p>1234</p>
                <p>+250$</p>
                <p>15 sep 2023</p>
            </div>
            <div class="container hist-container">
                <div class="icon"><img src="ICONS/profile-icn.png" alt=""></div>
                <p>Moha Riad</p>
                <p>1234</p>
                <p>+250$</p>
                <p>15 sep 2023</p>
            </div>
            <div class="container hist-container">
                <div class="icon"><img src="ICONS/profile-icn.png" alt=""></div>
                <p>Moha Riad</p>
                <p>1234</p>
                <p>+250$</p>
                <p>15 sep 2023</p>
            </div>
            <div class="container hist-container">
                <div class="icon"><img src="ICONS/profile-icn.png" alt=""></div>
                <p>Moha Riad</p>
                <p>1234</p>
                <p>+250$</p>
                <p>15 sep 2023</p>
            </div>
            <div class="container hist-container">
                <div class="icon"><img src="ICONS/profile-icn.png" alt=""></div>
                <p>Moha Riad</p>
                <p>1234</p>
                <p>+250$</p>
                <p>15 sep 2023</p>
            </div>
            <div class="container hist-container">
                <div class="icon"><img src="ICONS/profile-icn.png" alt=""></div>
                <p>Moha Riad</p>
                <p>1234</p>
                <p>+250$</p>
                <p>15 sep 2023</p>
            </div>
            <div class="container hist-container">
                <div class="icon"><img src="ICONS/profile-icn.png" alt=""></div>
                <p>Moha Riad</p>
                <p>1234</p>
                <p>+250$</p>
                <p>15 sep 2023</p>
            </div>
            <div class="container hist-container">
                <div class="icon"><img src="ICONS/profile-icn.png" alt=""></div>
                <p>Moha Riad</p>
                <p>1234</p>
                <p>+250$</p>
                <p>15 sep 2023</p>
            </div>
            <div class="container hist-container">
                <div class="icon"><img src="ICONS/profile-icn.png" alt=""></div>
                <p>Moha Riad</p>
                <p>1234</p>
                <p>+250$</p>
                <p>15 sep 2023</p>
            </div>
            <div class="container hist-container">
                <div class="icon"><img src="ICONS/profile-icn.png" alt=""></div>
                <p>Moha Riad</p>
                <p>1234</p>
                <p>+250$</p>
                <p>15 sep 2023</p>
            </div>
            <div class="container hist-container">
                <div class="icon"><img src="ICONS/profile-icn.png" alt=""></div>
                <p>Moha Riad</p>
                <p>1234</p>
                <p>+250$</p>
                <p>15 sep 2023</p>
            </div>

        </div>
        
    </div>
