@page "/Home"
@model Bank_Presentation_Layer_Web_App.Pages.Client.HomeModel
@{
}


<div class="container side-bar">

    <div class="container user fill-container">
        <div class="icon" id="profile-img"><img src="LOGO.png" alt=""></div>
        <div class="info">
            <h5 class="name">
                Riad Mohamed</p>
                <p class="id">ID 004869</p>
        </div>
    </div>

    <div class="white-line"></div>

    <ul>
        <li class="container option">
            <button>
                <div class="icon"><img src="ICONS/Asset 42.png"></div>
                <p>Home</p>
            </button>

        </li>

        <li class="container option">
            <button>
                <div class="icon"><img src="ICONS/Asset 2.png"></div>
                <p>History</p>
            </button>

        </li>

        <li class="container option">
            <button>
                <div class="icon"><img src="ICONS/Asset 34.png"></div>
                <p>Setting</p>
            </button>

        </li>


    </ul>

    <div class="white-line"></div>

    <ul>
        <li class="container option">
            <button>
                <div class="icon"><img src="ICONS/Asset 19.png"></div>
                <p>Log Out</p>
            </button>

        </li>
    </ul>
</div>
<section>
    <h2>This is the main content</h2>
</section>