@page
@model Bank_Presentation_Layer_Web_App.Pages.Client.SettingsModel
@{


<nav class="navbar">

        <div class="container" id="company">
            <div class="icon" id="logo-icon">
                <img src="LOGO.png">
            </div>
            <div class="icon-name" id="logo-name">
                HOUDHIFA'S BANK
            </div>
        </div>

        <button class="button1">LogIn</button>
       
</nav>

<div class="main-container">

        <div class="img-container">
            <img src="../Bank_Presentation_Layer_Web_App/wwwroot/pic/bank.png" alt="">
        </div>
        <section class="container" id="wlcm-content">
            <h1>Lorem ipsum
                dolor sit amet</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
            </p>
    
    
            <button class="get-started">Get Started</button>
        </section>
</div>
    

    
<footer>
        this is footer
</footer>

}