@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main-div">
    <section class="container" id="wlcm-content">
        <h1>
            Lorem ipsum
            dolor sit amet
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
        </p>


        <button asp-page="" id="get-started">Get Started</button>

    </section>
</div>
